<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MaxColumnByRow" value="2"/>
    <add key="MaxRow" value="2"/>
    <add key="MaxDeep" value="4"/>
    <add key="TimeToSwitch" value="1200"/>
    <add key="Loop" value="1"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>